<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hit.mapper.ClubMapper">
    
    <select id="getClubsByUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    	SELECT
		`club`.`club_id`,
		`club`.`clubname`,
		`club`.`description`,
		`club`.`image`,
		`club`.`setuptime`,
		`club`.`validationState`
		FROM
		`club_membership`,
		`club`
		WHERE
		user_id = #{userId} AND `hackpku`.`club`.club_id = `hackpku`.`club_membership`.club_id
    </select>
	<delete id="deleteClubMember" parameterType="hit.po.ClubMember">
		   delete from club_membership
    		where user_id = #{user.userId} AND club_id = #{club.clubId}
	</delete>
	<delete id="deleteClubRequest" parameterType="hit.po.ClubMember">
		   delete from club_request
    		where user_id = #{user.userId} AND club_id = #{club.clubId}
	</delete>
	<insert id="addClubMember" parameterType="hit.po.ClubMember">
		   insert into club_membership (user_id, club_id, role_id) 
   		 values (#{user.userId}, #{club.clubId}, #{role.roleId})
	</insert>
	<select id="getMemberRequestByClubId" parameterType="java.lang.Integer" resultMap="ClubMemberRequestMap">
		SELECT
		`user`.*
		FROM
		`club_request`,
		`user`
		WHERE
		user.user_id = club_request.user_id  AND club_request.club_id = #{club_id}
	
	</select>
	<select id="getUserRoleInClub" parameterType="hit.po.ClubMember" resultType="hit.po.Role">
		SELECT
		`club_membership`.`role_id` roleId
		FROM
		`club_membership`
		WHERE
		user_id = #{user.userId} AND club_id = #{club.clubId}
	</select>
	<select id="getMembershipByClubId" parameterType="java.lang.Integer" resultMap="ClubMemberMap">
		SELECT
		`user`.*,
		`role`.*
		FROM
		`club_membership`,
		`role`,
		`user`
		WHERE
		user.user_id = club_membership.user_id AND club_membership.role_id = role.role_id  AND club_membership.club_id = #{club_id}
	
	</select>
	<select id="getRoleMenu" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT
		`role_privilege`.`menu_id`
		FROM
		`role_privilege`
		WHERE
		role_id = #{roleId}
	</select>
	<select id="getRolesByClubId" parameterType="java.lang.Integer"  resultType="hit.po.Role">
		SELECT
		`role`.`role_id` roleId,
		`role`.`rolename`,
		`role`.`description`
		FROM
		`role`
		WHERE
		club_id = #{club_id}
	</select>

  <resultMap id="ClubMemberMap" type="hit.po.ClubMember">
    <association property="user" javaType="hit.po.User">
    	<id column="user_id" jdbcType="INTEGER" property="userId" />
	    <result column="username" jdbcType="VARCHAR" property="username" />
	    <result column="password" jdbcType="VARCHAR" property="password" />
	    <result column="email" jdbcType="VARCHAR" property="email" />
	    <result column="phone" jdbcType="VARCHAR" property="phone" />
	    <result column="image" jdbcType="VARCHAR" property="image" />
	    <result column="validationState" jdbcType="INTEGER" property="validationstate" />
	    <result column="province" jdbcType="VARCHAR" property="province" />
	    <result column="sch_id" jdbcType="INTEGER" property="schId" />
    </association>
    <association property="role" javaType="hit.po.Role">
    	<id column="role_id" jdbcType="INTEGER" property="roleId" />
	    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
	    <result column="description" jdbcType="VARCHAR" property="description" />
	    <result column="club_id" jdbcType="INTEGER" property="clubId" />
    </association>
  </resultMap>
  
  <resultMap id="ClubMemberRequestMap" type="hit.po.ClubMemberRequest">
    <association property="user" javaType="hit.po.User">
    	<id column="user_id" jdbcType="INTEGER" property="userId" />
	    <result column="username" jdbcType="VARCHAR" property="username" />
	    <result column="password" jdbcType="VARCHAR" property="password" />
	    <result column="email" jdbcType="VARCHAR" property="email" />
	    <result column="phone" jdbcType="VARCHAR" property="phone" />
	    <result column="image" jdbcType="VARCHAR" property="image" />
	    <result column="validationState" jdbcType="INTEGER" property="validationstate" />
	    <result column="province" jdbcType="VARCHAR" property="province" />
	    <result column="sch_id" jdbcType="INTEGER" property="schId" />
    </association>
    <association property="role" javaType="hit.po.Role">
    	<id column="role_id" jdbcType="INTEGER" property="roleId" />
	    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
	    <result column="description" jdbcType="VARCHAR" property="description" />
	    <result column="club_id" jdbcType="INTEGER" property="clubId" />
    </association>
  </resultMap>
  <resultMap id="BaseResultMap" type="hit.po.Club">
    <id column="club_id" jdbcType="INTEGER" property="clubId" />
    <result column="clubname" jdbcType="VARCHAR" property="clubname" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="setuptime" jdbcType="TIMESTAMP" property="setuptime" />
    <result column="validationState" jdbcType="INTEGER" property="validationstate" />
    <result column="user_id_leader" jdbcType="INTEGER" property="userIdLeader" />
  </resultMap>
  <sql id="Base_Column_List">
    club_id, clubname, description, image, setuptime, validationState, user_id_leader
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from club
    where club_id = #{clubId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from club
    where club_id = #{clubId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hit.po.Club">
    insert into club (club_id, clubname, description, 
      image, setuptime, validationState, 
      user_id_leader)
    values (#{clubId,jdbcType=INTEGER}, #{clubname,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{setuptime,jdbcType=TIMESTAMP}, #{validationstate,jdbcType=INTEGER}, 
      #{userIdLeader,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="hit.po.Club">
    insert into club
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clubId != null">
        club_id,
      </if>
      <if test="clubname != null">
        clubname,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="setuptime != null">
        setuptime,
      </if>
      <if test="validationstate != null">
        validationState,
      </if>
      <if test="userIdLeader != null">
        user_id_leader,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clubId != null">
        #{clubId,jdbcType=INTEGER},
      </if>
      <if test="clubname != null">
        #{clubname,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="setuptime != null">
        #{setuptime,jdbcType=TIMESTAMP},
      </if>
      <if test="validationstate != null">
        #{validationstate,jdbcType=INTEGER},
      </if>
      <if test="userIdLeader != null">
        #{userIdLeader,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hit.po.Club">
    update club
    <set>
      <if test="clubname != null">
        clubname = #{clubname,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="setuptime != null">
        setuptime = #{setuptime,jdbcType=TIMESTAMP},
      </if>
      <if test="validationstate != null">
        validationState = #{validationstate,jdbcType=INTEGER},
      </if>
      <if test="userIdLeader != null">
        user_id_leader = #{userIdLeader,jdbcType=INTEGER},
      </if>
    </set>
    where club_id = #{clubId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hit.po.Club">
    update club
    set clubname = #{clubname,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      setuptime = #{setuptime,jdbcType=TIMESTAMP},
      validationState = #{validationstate,jdbcType=INTEGER},
      user_id_leader = #{userIdLeader,jdbcType=INTEGER}
    where club_id = #{clubId,jdbcType=INTEGER}
  </update>
 
</mapper>