<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hit.mapper.TaskMapper">

  <delete id="deleteTaskParticiparors" parameterType="java.lang.Integer">
    delete from task_participators
    where task_id = #{task_id,jdbcType=INTEGER}
  </delete>
<insert id="addTaskParticiparors" parameterType="hit.po.TaskParticipator">
	insert into task_participators values(#{user.userId},#{task.taskId},0)
</insert>
<select id="getTaskUsers" parameterType="java.lang.Integer" resultType="hit.po.User">
	SELECT
	`user`.`username`
	FROM
	`task_participators`,
	`user`
	WHERE
	task_participators.task_id = #{task_id}
	AND user.user_id = task_participators.user_id_participator 
</select>

 <select id="getClubTasks" parameterType="java.lang.Integer" resultType="hit.po.EventPo">
 	 SELECT
	 `task`.`task_id`,
	`task`.`taskname`,
	`task`.`summary`,
	`task`.`time_id_begin`,
	`task`.`time_id_end`,
	`task`.`totalscore`
	FROM
	`task`
	WHERE
	state = 0 AND club_id = #{club_id}
 </select>
 <select id="getUserTasksAdmin" parameterType="hit.po.ClubMember" resultType="hit.po.EventPo">
 	 SELECT
	 `task`.`task_id`,
	`task`.`taskname`,
	`task`.`summary`,
	`task`.`time_id_begin`,
	`task`.`time_id_end`,
	`task`.`totalscore`
	FROM
	`task`
	WHERE
	state = 0 AND club_id = #{club.clubId}  AND user_id_leader = #{user.userId}
 </select>
 <select id="getUserTasks" parameterType="hit.po.ClubMember" resultType="hit.po.EventPo">
 	SELECT
 	`task`.`task_id`,
	`task`.`taskname`,
	`task`.`summary`,
	`task`.`time_id_begin`,
	`task`.`time_id_end`,
	`task`.`totalscore`
	FROM
	`task_participators`,
	`task`,
	`user`
	WHERE
	state = 0 
	AND user.user_id = #{user.userId}
	 AND task.club_id = #{club.clubId} 
	AND task.task_id = task_participators.task_id 
	AND user.user_id = task_participators.user_id_participator 
 </select>
 <select id="getDateTaskAdmin" parameterType="hit.po.ClubMember" resultType="java.util.Date">
 	SELECT
	`task`.`time_id_begin`
	FROM
	`task`
	WHERE
	state = 0 AND club_id = #{club.clubId}  AND user_id_leader = #{user.userId}
 </select>
 <select id="getDateWithTask" parameterType="hit.po.ClubMember" resultType="java.util.Date">
 	SELECT
	`task`.`time_id_begin`
	FROM
	`task`,
	`task_participators`,
	`user`
	WHERE
	 user.user_id = #{user.userId} 
	 AND task.state = 0 
	 AND task.club_id = #{club.clubId}  
	 AND task.task_id = task_participators.task_id 
	 AND user.user_id = task_participators.user_id_participator 
 </select>
<resultMap id="BaseResultMap" type="hit.po.Task">
    <id column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="taskname" jdbcType="VARCHAR" property="taskname" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="totalscore" jdbcType="INTEGER" property="totalscore" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="time_id_begin" jdbcType="TIMESTAMP" property="timeIdBegin" />
    <result column="time_id_end" jdbcType="TIMESTAMP" property="timeIdEnd" />
    <result column="user_id_leader" jdbcType="INTEGER" property="userIdLeader" />
    <result column="club_id" jdbcType="INTEGER" property="clubId" />
  </resultMap>
  <sql id="Base_Column_List">
    task_id, taskname, summary, totalscore, state, time_id_begin, time_id_end, user_id_leader, 
    club_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task
    where task_id = #{taskId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task
    where task_id = #{taskId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hit.po.Task">
    insert into task (task_id, taskname, summary, 
      totalscore, state, time_id_begin, 
      time_id_end, user_id_leader, club_id
      )
    values (#{taskId,jdbcType=INTEGER}, #{taskname,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{totalscore,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{timeIdBegin,jdbcType=TIMESTAMP}, 
      #{timeIdEnd,jdbcType=TIMESTAMP}, #{userIdLeader,jdbcType=INTEGER}, #{clubId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="hit.po.Task">
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        task_id,
      </if>
      <if test="taskname != null">
        taskname,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="totalscore != null">
        totalscore,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="timeIdBegin != null">
        time_id_begin,
      </if>
      <if test="timeIdEnd != null">
        time_id_end,
      </if>
      <if test="userIdLeader != null">
        user_id_leader,
      </if>
      <if test="clubId != null">
        club_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="taskname != null">
        #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="totalscore != null">
        #{totalscore,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="timeIdBegin != null">
        #{timeIdBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="timeIdEnd != null">
        #{timeIdEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="userIdLeader != null">
        #{userIdLeader,jdbcType=INTEGER},
      </if>
      <if test="clubId != null">
        #{clubId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hit.po.Task">
    update task
    <set>
      <if test="taskname != null">
        taskname = #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="totalscore != null">
        totalscore = #{totalscore,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="timeIdBegin != null">
        time_id_begin = #{timeIdBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="timeIdEnd != null">
        time_id_end = #{timeIdEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="userIdLeader != null">
        user_id_leader = #{userIdLeader,jdbcType=INTEGER},
      </if>
      <if test="clubId != null">
        club_id = #{clubId,jdbcType=INTEGER},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
  
</mapper>