<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gio.mapper.BuildingQueryMapper" >

	
	<select id="getBuildingTaxCountVoByYear" resultType="com.gio.vo.BuildingTaxCountVo" parameterType="int">
		select 
		tly.lymc bname,
		sum(ttm.jan)/10000 jan,
		sum(ttm.feb)/10000 feb,
		sum(ttm.mar)/10000 mar,
		sum(ttm.apri)/10000 apri,
		sum(ttm.may)/10000 may,
		sum(ttm.june)/10000 june,
		sum(ttm.july)/10000 july,
		sum(ttm.aug)/10000 aug,
		sum(ttm.sept)/10000 sept,
		sum(ttm.`oct`)/10000 `oct`,
		sum(ttm.nov)/10000 nov,
		sum(ttm.`dec`)/10000 `dec`,
		sum(ttm.sum)/10000 sum
		from 
		t_rental_no trn, t_house th ,t_lyjcxx tly,t_taxmessage ttm
		where 
		trn.data_2 = th.id and tly.id = th.data_2 and trn.data_8 = ttm.tax_id and ttm.zsxmmc = '合计'  and ttm.year = ${value}
		group by tly.id
	</select>
	
	<select id="getBuildingTaxCountVoByBuilding" resultType="com.gio.vo.BuildingTaxCountVo" parameterType="int">
				
		select 
		tly.lymc bname,
		ttm.`year` `year`,
		sum(ttm.jan)/10000 jan,
		sum(ttm.feb)/10000 feb,
		sum(ttm.mar)/10000 mar,
		sum(ttm.apri)/10000 apri,
		sum(ttm.may)/10000 may,
		sum(ttm.june)/10000 june,
		sum(ttm.july)/10000 july,
		sum(ttm.aug)/10000 aug,
		sum(ttm.sept)/10000 sept,
		sum(ttm.`oct`)/10000 `oct`,
		sum(ttm.nov)/10000 nov,
		sum(ttm.`dec`)/10000 `dec`,
		sum(ttm.sum)/10000 sum
		from 
		t_rental_no trn, t_house th ,t_lyjcxx tly,t_taxmessage ttm
		where 
		trn.data_2 = th.id and tly.id = th.data_2 and trn.data_8 = ttm.tax_id and ttm.zsxmmc = '合计' and tly.id = ${value}
		group by ttm.year
		order by `year` asc	
	</select>
	<select id="getTaxIncome" resultType="com.gio.vo.TaxIncome" parameterType="int">
		
		select * from(
		select 
		ttm.zsxmmc  tax_type,
		ttm.sum sum
		from 
		t_rental_no trn, t_house th ,t_lyjcxx tly,t_taxmessage ttm
		where 
		trn.data_2 = th.id and tly.id = th.data_2 and trn.data_8 = ttm.tax_id and tly.id = ${value}
		union
		select 
		ttm.zsxmmc  tax_type,
		ttm.sum sum
		from 
		t_rental_yes try, t_house th ,t_lyjcxx tly,t_taxmessage ttm
		where 
		try.data_2 = th.id and tly.id = th.data_2 and try.data_8 = ttm.tax_id and tly.id = ${value} ) t
		where t.tax_type != '税收收入小计' and t.tax_type != '合计' and t.tax_type != '非税收收入小计'	
		group by  t.tax_type
	</select>
</mapper>