<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<link href='../css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<script src="../js/jquery-1.11.3.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/third.js"></script>
</head>
<body>
	<div align="center" style="min-width:600px">
		<div class="row" >
			<button class="btn btn-primary" style="float:left;margin-left:40px;margin-top:30px" onclick="goBack()">后退</button>
			<button class="btn btn-primary" style="float:left;margin-left:10px;margin-top:30px" onclick="backToIndex()">返回主页</button>
		</div>
		<h2>对应楼层</h2>
		<div>
			<img src="../img/pingmian.png" width="646px" height="642px" usemap="#pingmianMap" id="pingmianImg"/>
			<div id="testDIV" style="position:absolute;display:none;width:100px;height:20px;z-index:100;background:red" onmouseout="getOut()" onclick="cancelDisplay()">此房屋预警</div>
			<map name="pingmianMap" id="pingmianMap">
	     	  <area shape="poly" coords="19,119,191,97,194,186,32,187" href="#07" target="_blank" alt="预警房屋">
			  <area shape="poly" coords="40,229,160,231,164,275,49,274" href="#08" target="_blank">
			  <area shape="poly" coords="53,289,164,290,160,323,66,324" href="#09" target="_blank">
			  <area shape="poly" coords="51,343,159,340,187,381,190,502,56,501" href="#10" target="_blank">
			</map>
		</div>
	</div>
</body>